<div class="contacts">
    <div class="chartData bc-1a2574">
        <div class="row">
            <!-- Left Side -->
            <div class="col-lg-6 col-12 leftSide">
                <div class="row">
                    <div class="col-8">
                        <div class="smallLabel fc-8d92ba">Current Level</div>
                    </div>
                    <div class="col-4">
                        <div class="smallLabel fc-8d92ba">Commission</div>
                    </div>
                </div>
                <div class="row mt-1">
                    <div class="col-8">
                        <div class="text-rightArrow">
                            <div class="largeLabel text-white font-weight-bold">PLATIMUN</div>
                            <div class="rightarrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="largeLabel text-white font-weight-bold">4%</div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        <div class="smallLabel fc-8d92ba">Total Volume Booked</div>
                    </div>
                    <div class="col-6">
                        <div class="smallLabel fc-8d92ba">Volume needed to unlock &nbsp;<span class="font-weight-bold text-white">Super</span></div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-6">
                        <div class="normalLabel font-weight-bold fc-12a5ff">$2,123,444</div>
                    </div>
                    <div class="col-6">
                        <div class="normalLabel font-weight-bold fc-12a5ff">$362,546</div>                    
                    </div>
                </div>
                <div class="row m-0 mt-4">
                    <div class="col-3 p-0">
                        <div class="smallLabel font-weight-bold text-center fc-999696">Silver</div>
                    </div>
                    <div class="col-3 p-0">
                        <div class="smallLabel font-weight-bold text-center fc-fc8f3b">Gold</div>                    
                    </div>
                    <div class="col-3 p-0">
                        <div class="smallLabel font-weight-bold text-center fc-d4d2c9">Platinum</div>                    
                    </div>
                    <div class="col-3 p-0">
                        <div class="smallLabel font-weight-bold text-center fc-12a5ff">Super</div>                    
                    </div>
                </div>
                <div class="row mt-2 m-0">
                    <div class="col-3 p-0 arrow-silver-content">
                        <div class="arrow-process-silver arrow-process"></div>
                        <div class="arrow-process-label text-white">0%</div>
                    </div>
                    <div class="col-3 p-0 arrow-gold-content">
                        <div class="arrow-process-gold arrow-process"></div>
                        <div class="arrow-process-label text-white">2%</div>
                    </div>
                    <div class="col-3 p-0 arrow-platinum-content">
                        <div class="arrow-process-platinum arrow-process"></div>
                        <div class="arrow-process-label fc-1a2574">4%</div>
                    </div>
                    <div class="col-3 p-0 arrow-super-content">
                        <div class="arrow-process-super"></div>
                        <div class="arrow-process-label text-white">6%</div>
                    </div>
                </div>
            </div>

            <!-- Right Side -->
            <div class="col-lg-6 col-12 rightSide">
                <div class="row">
                    <div class="col-md-4 col-12 pieChart">
                        <div class="smallLabel fc-8d92ba" style="line-height: 1.3;">
                            Total Booked<br>by Commodity, YTD
                        </div>
                        <div #pieChart class="mt-2" id="pieChart"></div>
                        <div class="row mt-2">
                            <div class="col-6">
                                <div class="chart-KWH smallLabel font-weight-bold fc-fc8f3b">KWH</div>
                                <div class="chartScore">222,333</div>
                            </div>
                            <div class="col-6">
                                <div class="chart-Therm smallLabel font-weight-bold fc-12a5ff">Therm</div>                            
                                <div class="chartScore">32,435</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-12 areaChart">
                        <div class="areaChart-head">
                            <div class="smallLabel" style="line-height: 1.3;">
                                <span class="text-white font-weight-bold">Total Commission Payout</span>
                                <br>
                                <span class="fc-8d92ba">YTD</span>
                            </div>
                            <div class="normalLabel font-weight-bold fc-12a5ff">$13,276</div>
                        </div>
                        <div #areaChart class="mt-2" id="areaChart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btnGroup">
        <div class="btn customerBtn">ENTER NEW CUSTOMER</div>
        <div class="btn quoteBtn">INSTANT QUOTE</div>
    </div>
    <div class="contactsTable">
        <div class="tableLabel">Contacts</div>
        <div class="tableBody table-responsive">
            <table datatable [dtOptions]="dtOptions" class="row-border hover"></table>
        </div>
    </div>
</div>