<div class="contacts">
    <div class="chartData bc-1a2574">
        <div class="row">
            <!-- Left Side -->
            <div class="col-lg-5 col-12 leftSide">
                <div class="row">
                    <div class="col-8">
                    </div>
                    <div class="col-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex">
                        <div>
                            <div class="smallLabel fc-8d92ba">Current Level</div>
                            <div class="text-rightArrow mt-1">
                                <div class="largeLabel text-white font-weight-bold">PLATIMUN</div>
                                <div class="rightarrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></div>
                            </div>
                        </div>
                        <div>
                            <div class="smallLabel fc-8d92ba">Commission</div>
                            <div class="largeLabel text-white font-weight-bold mt-1">4%</div>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 d-flex justify-content-between">
                        <div>
                            <div class="smallLabel fc-8d92ba">Total Volume Booked</div>
                            <div class="normalLabel font-weight-bold mt-2 fc-12a5ff">$2,123,444</div>
                        </div>
                        <div>
                            <div class="smallLabel fc-8d92ba">Volume needed to unlock &nbsp;<span
                                    class="text-white">Super</span></div>
                            <div class="normalLabel font-weight-bold mt-2 fc-12a5ff">$362,546</div>
                        </div>
                    </div>
                </div>
                <div class="row m-0 mt-4">
                    <div class="col-3 p-0">
                        <div class="smallLabel  text-center fc-999696">Silver</div>
                    </div>
                    <div class="col-3 p-0">
                        <div class="smallLabel  text-center fc-fc8f3b">Gold</div>
                    </div>
                    <div class="col-3 p-0">
                        <div class="smallLabel  text-center fc-d4d2c9">Platinum</div>
                    </div>
                    <div class="col-3 p-0">
                        <div class="smallLabel  text-center fc-12a5ff">Super</div>
                    </div>
                </div>
                <div class="row mt-2 m-0">
                    <div class="col-3 p-0 arrow-silver-content">
                        <div class="arrow-process-silver arrow-process"></div>
                        <div class="arrow-process-label text-white">0%</div>
                    </div>
                    <div class="col-3 p-0 arrow-gold-content">
                        <div class="arrow-process-gold arrow-process"></div>
                        <div class="arrow-process-label text-white">2%</div>
                    </div>
                    <div class="col-3 p-0 arrow-platinum-content">

                        <div class="arrow-process-platinum arrow-process">
                            <!-- <div class="bg">
                            <div class="el">dddddddddddddd</div> -->
                        <!-- </div> -->
                        </div>
                        <div class="arrow-process-label fc-1a2574">4%</div>
                    </div>
                    <div class="col-3 p-0 arrow-super-content">
                        <div class="arrow-process-super"></div>
                        <div class="arrow-process-label text-white">6%</div>
                    </div>
                </div>
            </div>

            <!-- Right Side -->
            <div class="col-lg-7 col-12 rightSide">
                <div class="chartGroup">
                    <div class="pieChart">
                        <div class="smallLabel fc-8d92ba">
                            <div>Total Booked</div>
                            <div class="mt-1">by Commodity, YTD</div>
                        </div>
                        <div #pieChart class="mt-2" id="pieChart"></div>
                        <div class="row mt-3">
                            <div class="col-6">
                                <div class="chart-KWH smallLabel  fc-fc8f3b">KWH</div>
                                <div class="chartScore">222,333</div>
                            </div>
                            <div class="col-6">
                                <div class="chart-Therm smallLabel  fc-12a5ff">Therm</div>
                                <div class="chartScore">32,435</div>
                            </div>
                        </div>
                    </div>
                    <div class="areaChart">
                        <div class="areaChart-head">
                            <div class="smallLabel">
                                <div class="text-white font-weight-bold">Total Commission Payout</div>
                                <div class="fc-8d92ba mt-1">YTD</div>
                            </div>
                            <div class="normalLabel font-weight-bold fc-12a5ff">$13,276</div>
                        </div>
                        <div #areaChart class="mt-2" id="areaChart"></div>
                        <div class="monthText smallLabel fc-8d92ba">Month</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="btnGroup">
        <div class="btn customerBtn">ENTER NEW CUSTOMER</div>
        <div class="btn quoteBtn">INSTANT QUOTE</div>
    </div>
    <div class="contactsTable">
        <div class="tableLabel">Contacts</div>
        <div class="tableBody table-responsive">
            <table datatable [dtOptions]="dtOptions" class="row-border hover"></table>
        </div>
    </div>
</div>